{% extends "_layout" %}

{% set aktuelles = 'current' %}
{% set start, projekte, opensource, mods = '','','','' %}

{% block aktuelles %}

<div class="artikel_3">

    <a href="{{ entry.url }}">
        <h1>{{ entry.title }}</h1>
    </a>

    <h3>{{ entry.artikelTeaser }}</h3>

    <p>
        {{ entry.artikelBody }}
        {% for image in entry.artikelImage %}
            <img src="{{ image.geturl ('mediumThumb') }}">
        {% endfor %}
    </p>


</div>

{% endblock aktuelles %}
