{% extends "_layout" %}

{% set aktuelles = 'current' %}
{% set start, projekte, opensource, mods = '','','','' %}

{% block aktuelles %}


  <div class="artikel_3">
    {% for block in entry.artikel.all() %}

	{% switch block.type %}

        {% case "artikelTitel" %}
			<h1>{{ block.titel }}</h1> {# Type: Reiner Text #}

		{% case "artikelTeaser" %}
			<h3>{{ block.teaser }}</h3> {# Type: Reiner Text #}

		{% case "artikelBody" %}
			<p>{{ block.body }} {# Type: CKEditor #}
            </p>

        {% case "bilder" %}

        {% for image in block.bildLarge %}
            <img src="{{ image.getUrl() }}" width="{{ image.getWidth() }}" height="{{ image.getHeight() }}" alt="{{ image.title }}">
        {% endfor %}
			{#{{ block.bildSmall }} {# Type: Dateien #}
			{#{{ block.bildMedium }} {# Type: Dateien #}
			{#{{ block.bildLarge }} {# Type: Dateien #}
            {#{% for image in block.bildLarge.all %}
    		  <img src="{{ image.url }}">
            {% endfor %}
			{{ block.zweiBilder }} {# Type: Dateien #}
			{#{{ block.dreiBilder }} {# Type: Dateien #}
			{#{{ block.artikelThumbnail }} {# Type: Dateien #}
           {# {% for image in block.artikelThumbnail.all %}
    		  <img src="{{ image.url }}">
            {% endfor %}
			{{ block.bildergalerie }} {# Type: Dateien #}

		{% default %}
			...

    {% endswitch %}

{% endfor %}
</div>



{% endblock aktuelles %}


