{% extends "_layout" %}
{% block aktuelles %}
    


<div class="artikel_1">

    <a href="{{ siteUrl }}aktuellesOverview">
    <h2> {{ entry.section }}</h2>
</a>

<a href="{{ entry.url }}">

    <h1>
        {{ entry.title }}
    </h1>

</a>

<h3>
    {{ entry.artikelTeaser }}
</h3>


    {{ entry.artikelBody }}

    <img src="{{ entry.artikelImage.first.url }}">

<p class="post-meta">Posted by
    <a href="#">{{ entry.author }}</a>
    on {{ entry.postDate | date('d M, Y')}}
</p>
</div>
<br>




{% endblock aktuelles %}
