{% extends "_layout" %}

{% set aktuelles = 'current' %}
{% set start, projekte, opensource, mods = '','','','' %}

{% block aktuelles %}


{#     <a href="{{ entry.url }}">
        <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    <h4>
        {% for image in entry.artikelImage.limit(4).all() %}
            <div>
                <img src="{{ image.geturl ('largeThumb') }}">
            </div>
        {% endfor %}
        {{ entry.artikelBody }}
    </h4> #}



  <div class="artikel_3">
    {% for block in entry.artikel.all() %}
	{% switch block.type %}

		{% case "titel" %}
			{{ block.titel }} {# Type: Reiner Text #}

		{% case "teaser" %}
			{{ block.teaser }} {# Type: Reiner Text #}

		{% case "body" %}
			{{ block.body }} {# Type: CKEditor #}

		{% case "bilder" %}
			{{ block.bild }} {# Type: Dateien #}
			{{ block.bildExtern }} {# Type: URL #}
			{{ block.artikelThumbnail }} {# Type: Dateien #}

		{% case "videos" %}
			{{ block.youtubeEmbed }} {# Type: URL #}

		{% default %}
			...

	{% endswitch %}
{% endfor %}
    </div>



{% endblock aktuelles %}


