{% extends "_layout" %}

{% set aktuelles = 'current' %}
{% set start, projekte, opensource, mods = '','','','' %}

{% block aktuelles %}


  <div class="artikel_3">
    {% for block in entry.artikel.all() %}

	{% switch block.type %}

        {% case "artikelTitel" %}
			<h1>{{ block.titel }}</h1> {# Type: Reiner Text #}

		{% case "artikelTeaser" %}
			<h3>{{ block.teaser }}</h3> {# Type: Reiner Text #}

		{% case "artikelBody" %}
			<p>{{ block.body }} {# Type: CKEditor #}
            </p>

        {% case "bilder" %}

        {% for image in block.bildLarge %}
            <img src="{{ image.getUrl() }}" width="{{ image.getWidth() }}" height="{{ image.getHeight() }}" alt="{{ image.title }}">
        {% endfor %}


		{% default %}
			...

    {% endswitch %}

{% endfor %}
</div>



{% endblock aktuelles %}


