{% extends "_layout" %}

{% set aktuelles = 'current' %}
{% set start, projekte, opensource, mods = '','','','' %}

{% block aktuelles %}


  <div class="artikel_3">
    {% for block in entry.artikel.all() %}

	{% switch block.type %}

        {% case "artikelTitel" %}
			<h1>{{ block.titel }}</h1> {# Type: Reiner Text #}

		{% case "artikelTeaser" %}
			<h3>{{ block.teaser }}</h3> {# Type: Reiner Text #}

        {% case "artikelBody" %}
        
			<p>{{ block.body }}</p> {# Type: CKEditor #}
        
        {% case "bilder" %}

        {% for image in block.bildSmall.all() %}
            <figure class="bildSmall">
                <img src="{{ image.getUrl() }}">
            </figure>
        {% endfor %}

        {% for image in block.bildMedium.all() %}
            <figure class="bildMedium">
                <img src="{{ image.getUrl() }}">
            </figure>
        {% endfor %}
        
        {% for image in block.bildLarge.all() %}
            <figure class="bildLarge">
                <img src="{{ image.getUrl() }}">
            </figure>
        {% endfor %}
        
        {% for image in block.zweiBilder.all() %}
            <figure class="zweiBilder">
                <img src="{{ image.getUrl() }}">
            </figure>
        {% endfor %}
        
        {% for image in block.dreiBilder.all() %}
            <figure class="dreiBilder">
                <img src="{{ image.getUrl() }}">
            </figure>
        {% endfor %}
              
        {% for image in block.bildergalerie.all() %}
            <figure class="bildergalerie">
                <img src="{{ image.getUrl() }}">
            </figure>
        {% endfor %} 
        
        <figcaption>{{ block.bu }}</figcaption>

{#         {% case "externeLinks" %}

        {% for asset in block.externalAssets.all() %} 

        {% set embeddedAsset = craft.embeddedAssets.get(asset) %}
            {{ embeddedAsset ? embeddedAsset.html }}
        {% endfor %}
 #}
    {% endswitch %}

{% endfor %}
</div>



{% endblock aktuelles %}


