{% extends "_layout" %}
{% block aktuelles %}
{% for entry in craft.entries.section('aktuelles').limit(10).all() %}
<div class="artikel_1">

{# Artikel-Header #}

<div class="article_head">

<a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
</a>
<h2>{{ entry.artikelTeaser }}</h2>
</div>

<div class="article_content">
    {{ entry.artikelBody }}
</div>

<p class="post-meta">Posted by

    <a href="#">{{ entry.author }}</a>
    on {{ entry.postDate | date('d M, Y')}}
</p>

</div>

<br>
{% end for %}

{% endblock aktuelles %}