{% extends "_layout" %}

{% set aktuelles = 'current' %}
{% set start, projekte, opensource, mods = '','','','' %}

{% block aktuelles %}

<div class="artikel_3">
    <a href="{{ entry.url }}">
        <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    <h4>
        {% for image in entry.artikelImage.limit(4).all() %}
            <div>
                <img src="{{ image.geturl ('largeThumb') }}">
            </div>
        {% endfor %}
        {{ entry.artikelBody }}
    </h4>
</div>

{% endblock aktuelles %}
