{% extends "_layout" %}

<!-- Klasse für Kontakt muss noch in CSS gebaut werden, hier erstmal nur Dummy -->

{% block pages %}

<div class="artikel_1">

    <a href="{{ siteUrl }}projekteOverview">
        <h2>{{ entry.section }}</h2>
    </a>
    <a href="{{ entry.url }}">
        <h1>{{ entry.title }}</h1>
    </a>
    {##
    <h3>{{ entry.artikelTeaser }}</h3>
    ##}
    {{ entry.pageCopy }}

</div>

{% endblock pages %}
