{% extends "_layout" %}
{% block aktuelles %}
    
{% for entry in craft.entries.section('aktuelles').limit(10).all() %}

<div class="artikel_1">

<a href='aktuellesOverview'>
    <h3> {{ entry.section }}</h3>
</a>

<a href="{{ entry.url }}">

    <h1>
        {{ entry.title }}
    </h1>

</a>

<h3>
    {{ entry.artikelTeaser }}
</h3>


    {{ entry.artikelBody }}

<p class="post-meta">Posted by
    <a href="#">{{ entry.author }}</a>
    on {{ entry.postDate | date('d M, Y')}}
</p>
</div>
<br>

{% endfor %}


{% endblock aktuelles %}

