{% extends "_layout" %}



{% set start, projekte, opensource, mods = '','','','' %}

{% set segment = craft.request.getSegment(1) %}
{% switch segment %}

    {% case "aktuellesOverview" %}
        {% set aktuelles = 'current' %}
		{% set page_title = 'Aktuelles' %}
		{% set blockart = aktuelles %}
		{% set sectionart = 'aktuelles' %}

    {% case "projekteOverview" %}
        {% set projekte = 'current' %}
		{% set page_title = 'Projekte' %}
		{% set blockart = projekte %}
		{% set sectionart = 'projekte' %}

    {% case "opensourceOverview" %}
        {% set opensource = 'current' %}
		{% set page_title = 'Open-Source' %}
		{% set blockart = opensource %}
		{% set sectionart = 'opensource' %}

    {% case "modsOverview" %}
        {% set mods = 'current' %}
		{% set page_title = 'Mods' %}
		{% set blockart = mods %}
		{% set sectionart = 'mods' %}

{% endswitch %}




{% block blockart %}

{% for entry in craft.entries.section('aktuelles').all() %}
<div class="artikel_1">
{% for block in entry.artikel.all() %}

{% switch block.type %}

	{% case "artikelPreview" %}

	{% for image in block.artikelThumbnail.all() %}
		<figure class="artikelThumbnail">
			<img src="{{ image.getUrl('smallThumb') }}">
		</figure>
	{% endfor %}	

	<div class="artikelPreview">
			<a href="{{ entry.url }}">
				<h1>{{ entry.title }}</h1>
			</a>
			<h3>{{ block.previewteaser }}</h3>
			<p>{{ block.previewbody }}
	</div>

{% endswitch %}	

{% endfor %}
<a class="button" href="{{ entry.url }}">weiterlesen</a>
</div>
{% endfor %}


{% endblock blockart %}



