{% extends "_layout" %}

{% set page_title = 'Aktuelles' %}
{% set aktuelles = 'current' %}
{% set start, projekte, opensource, mods = '','','','' %}


{% block aktuelles %}

    {% for entry in craft.entries.section('aktuelles').limit(10).all() %}
    <div class="artikel_3">
    {% for block in entry.artikel.all() %}
    
	{% switch block.type %}

		{% case "artikelTitel" %}
			<h1>{{ block.titel }}</h1> {# Type: Reiner Text #}

		{% case "artikelTeaser" %}
			<h2>{{ block.teaser }}</h2> {# Type: Reiner Text #}

		{% case "artikelBody" %}
			{{ block.body }} {# Type: CKEditor #}

		{% case "bilder" %}
			{# <img src="{{ block.bildLarge.one.url }}"> #} {# Type: Dateien #}
			{# {{ block.bildExtern }} #} {# Type: URL #}
			{# {{ block.artikelThumbnail }} #} {# Type: Dateien #}

		{% for image in block.bildLarge.all %}
    		<img src="{{ image.url }}">
		{% endfor %}

		{% case "videos" %}
			{{ block.youtubeEmbed }} {# Type: URL #}

		{% default %}
			...

    {% endswitch %}

{% endfor %}
</div>
{% endfor %}
    
    {% endblock aktuelles %}



