{% extends "_layout" %}

{% set start, projekte, opensource, aktuelles, mods = '','','','','' %}

{% set segment = craft.app.request.getSegment(1) %}
{% switch segment %}
    {% case "aktuellesOverview" %}
        {% set aktuelles = 'current' %}
		{% set page_title = 'Aktuelles' %}
        {% paginate craft.entries.section('aktuelles').limit(settings.articlesPerPage) as pageInfo, pageEntries %}
    {% case "projekteOverview" %}
        {% set projekte = 'current' %}
		{% set page_title = 'Projekte' %}
        {% paginate craft.entries.section('projekte').limit(settings.articlesPerPage) as pageInfo, pageEntries %}
    {% case "opensourceOverview" %}
        {% set opensource = 'current' %}
		{% set page_title = 'Open-Source' %}
        {% paginate craft.entries.section('opensource').limit(settings.articlesPerPage) as pageInfo, pageEntries %}
    {% case "modsOverview" %}
        {% set mods = 'current' %}
		{% set page_title = 'Mods' %}
        {% paginate craft.entries.section('mods').limit(settings.articlesPerPage) as pageInfo, pageEntries %}
{% endswitch %}

{% block content %}
    {% for entry in pageEntries %}
        <div class="artikel_1">
            {% for block in entry.artikel.all() %}
                {% switch block.type %}
                    {% case "artikelPreview" %}
                        {% for image in block.artikelThumbnail.all() %}
                            <figure class="artikelThumbnail">
                                <img src="{{ image.getUrl('smallThumb') }}" alt="{{ image }}">
                            </figure>
                        {% endfor %}	
                        <div>
                            <div class="headline">
                                <a href="{{ entry.url }}">{{ entry.title }}</a>
                            </div>
                            <div class="teaser">{{ block.previewteaser }}</div>
                            <div class="abody">
                                {{ block.previewbody }}
                            </div>
                            <div class="button">
                                <a href="{{ entry.url }}">weiterlesen</a>
                            </div>
                        </div>
                {% endswitch %}	
            {% endfor %}
        </div>
    {% endfor %}
<div class="pagination" style="color:#fff">
	{# Vorherige Seite, falls verf체gbar: #}
	{% if pageInfo.prevUrl %}
		<a href="{{ pageInfo.prevUrl }}">Vorherige Seite</a>
	{% endif %}
	{# Aktuelle Seitenzahl: #}
	Seite {{ pageInfo.currentPage }}
	{# N채chste Seite, falls verf체gbar: #}
	{% if pageInfo.nextUrl %}
		<a href="{{ pageInfo.nextUrl }}">N채chste Seite</a>
	{% endif %}
</div>
{% endblock %}