{% extends "_layout" %}

{% set start, projekte, opensource, aktuelles, mods = '','','','','' %}

{% set segment = craft.app.request.getSegment(1) %}
{% switch segment %}
    {% case "aktuellesOverview" %}
        {% set aktuelles = 'current' %}
		{% set page_title = 'Aktuelles' %}
		{% set sectionart = craft.entries.section('aktuelles').all() %}
    {% case "projekteOverview" %}
        {% set projekte = 'current' %}
		{% set page_title = 'Projekte' %}
		{% set sectionart = craft.entries.section('projekte').all() %}
    {% case "opensourceOverview" %}
        {% set opensource = 'current' %}
		{% set page_title = 'Open-Source' %}
		{% set sectionart = craft.entries.section('opensource').all() %}
    {% case "modsOverview" %}
        {% set mods = 'current' %}
		{% set page_title = 'Mods' %}
		{% set sectionart = craft.entries.section('mods').all() %}
{% endswitch %}

{% block content %}
    {% for entry in sectionart %}
        <div class="artikel_1">
            {% for block in entry.artikel.all() %}
                {% switch block.type %}
                    {% case "artikelPreview" %}
                        {% for image in block.artikelThumbnail.all() %}
                            <figure class="artikelThumbnail">
                                <img src="{{ image.getUrl('smallThumb') }}" alt="{{ image.getUrl('smallThumb') }}">
                            </figure>
                        {% endfor %}	
                        <div>
                            <div class="headline">
                                <a href="{{ entry.url }}">{{ entry.title }}</a>
                            </div>
                            <div class="teaser">{{ block.previewteaser }}</div>
                            <div class="abody">
                                {{ block.previewbody }}
                                <a href="{{ entry.url }} ">
                                    <button class="button">
                                            weiterlesen
                                    </button>
                                </a>
                            </div>
                        </div>
                {% endswitch %}	
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}