{% extends "_layout" %}
{# Variablen für die CSS-Klasse current setzen #}
{% set start, aktuelles, projekte, opensource, mods, Impressum, Datenschutz, Kontakt, Links, about = '','','','','','','','','','' %}
{# Variable segment für nachfolgenden switch-case setzen #}
{% set segment = craft.app.request.getSegment(1) %}
{# Switch-Case-Abfrage, um besuchte Seite in der Navigation hervorzuheben & Abfrage, aus welcher Sektion der Artikel ausgegeben werden soll, sowie Pagetitle überschreiben #}
{% switch segment %}
    {% case "aktuellesOverview" %}
        {% set aktuelles = 'current' %}
		{% set page_title = 'Aktuelles' %}
        {% paginate craft.entries.section('aktuelles').limit(settings.articlesPerPage) as pageInfo, pageEntries %}
    {% case "projekteOverview" %}
        {% set projekte = 'current' %}
		{% set page_title = 'Projekte' %}
        {% paginate craft.entries.section('projekte').limit(settings.articlesPerPage) as pageInfo, pageEntries %}
    {% case "opensourceOverview" %}
        {% set opensource = 'current' %}
		{% set page_title = 'Open-Source' %}
        {% paginate craft.entries.section('opensource').limit(settings.articlesPerPage) as pageInfo, pageEntries %}
    {% case "modsOverview" %}
        {% set mods = 'current' %}
		{% set page_title = 'Mods' %}
        {% paginate craft.entries.section('mods').limit(settings.articlesPerPage) as pageInfo, pageEntries %}
{% endswitch %}
{# Inhaltsblock für Übersichtsseiten #}
{% block content %}
    {% for entry in pageEntries %}
        <div class="artikel_1">
            {# For-Loop mit Switch-Case für jeden Block im Matrixfeld #}
            {% for block in entry.artikel.limit(1).all() %}
                {% switch block.type %}
                    {% case "artikelPreview" %}
                        {# For-Loop für Thumbnail-Ausgabe #}
                        <div class="thumbs">
                            {% for image in block.artikelThumbnail.all() %}
                                <figure class="artikelThumbnail">
                                    <a href="{{ image.getUrl() }}" target="_blank">
                                        <img src="{{ image.getUrl('mediumThumb') }}" alt="{{ image }}">
                                    </a>
                                </figure>
                            {% endfor %}
                        </div>	
                        <div>
                            {# Textelemente ausgeben #}
                            <div class="headline">
                                <a href="{{ entry.url }}">{{ entry.title }}</a>
                            </div>
                            <div class="teaser">{{ block.previewteaser }}</div>
                            <div class="abody">
                                {{ block.previewbody }}
                            </div>
                            <div class="button">
                                <a href="{{ entry.url }}">weiterlesen</a>
                            </div>
                        </div>
                {% endswitch %}	
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
    <div class="pagination">
        {# Vorherige Seite, falls verfügbar: #}
        {% if pageInfo.prevUrl %}
            <div class="button_hover">
                <div class="button">
                    <a href="{{ pageInfo.prevUrl }}"><<</a>
                </div>
                <div class="button_back">
                    <a href="{{ pageInfo.prevUrl }}">Seite zur&uuml;ck</a>
                </div>
            </div>
        {% endif %}
        {# Aktuelle Seitenzahl: #}
        <div class="aktuell">
            <div class="button">
                Seite {{ pageInfo.currentPage }}
            </div>
            <div class="aktuell_hover">
                aktuelle Seite
            </div>
        </div>
        {# Nächste Seite, falls verfügbar: #}
        {% if pageInfo.nextUrl %}
            <div class="button_hover">
                <div class="button">
                    <a href="{{ pageInfo.nextUrl }}">>></a>
                </div>
                <div class="button_pre">
                    <a href="{{ pageInfo.nextUrl }}">Seite vor</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}