{% extends "_layout" %}



{% set start, projekte, opensource, aktuelles, mods = '','','','','' %}

{% set segment = craft.app.request.getSegment(1) %}
{% switch segment %}

    {% case "aktuellesOverview" %}
        {% set aktuelles = 'current' %}
		{% set page_title = 'Aktuelles' %}
		{% set sectionart = craft.entries.section('aktuelles').all() %}
		

    {% case "projekteOverview" %}
        {% set projekte = 'current' %}
		{% set page_title = 'Projekte' %}
		{% set sectionart = craft.entries.section('projekte').all() %}
		

    {% case "opensourceOverview" %}
        {% set opensource = 'current' %}
		{% set page_title = 'Open-Source' %}
		{% set sectionart = craft.entries.section('opensource').all() %}
		

    {% case "modsOverview" %}
        {% set mods = 'current' %}
		{% set page_title = 'Mods' %}
		{% set sectionart = craft.entries.section('mods').all() %}
		
{% endswitch %}

{% block content %}

{% for entry in sectionart %}
<div class="artikel_1">
{% for block in entry.artikel.all() %}

{% switch block.type %}

	{% case "artikelPreview" %}

	{% for image in block.artikelThumbnail.all() %}
		<figure class="artikelThumbnail">
			<img src="{{ image.getUrl('smallThumb') }}">
		</figure>
	{% endfor %}	

	<div class="artikelPreview">
			<a href="{{ entry.url }}">
				<h1>{{ entry.title }}</h1>
			</a>
			<h3>{{ block.previewteaser }}</h3>
			<p>{{ block.previewbody }}
	</div>

{% endswitch %}	

{% endfor %}
<a class="button" href="{{ entry.url }}">weiterlesen</a>
</div>
{% endfor %}


{% endblock %}



