{% extends "_layout" %}

{% set start, aktuelles, projekte, opensource, mods, impressum, datenschutz, kontakt, links = '','','','','','','','','' %}

{% set segment = craft.app.request.getSegment(1) %}
{% switch segment %}
    {% case "Aktuelles" %}
        {% set aktuelles = 'current' %}
		{% set page_title = entry.title %}
		{% set sectionart = craft.entries.section('aktuelles').all() %}
    {% case "Projekte" %}
        {% set projekte = 'current' %}
		{% set page_title = entry.title %}
		{% set sectionart = craft.entries.section('projekte').all() %}
    {% case "OpenSource" %}
        {% set opensource = 'current' %}
		{% set page_title = entry.title %}
		{% set sectionart = craft.entries.section('opensource').all() %}
    {% case "Mods" %}
        {% set mods = 'current' %}
		{% set page_title = entry.title %}
		{% set sectionart = craft.entries.section('mods').all() %}
{% endswitch %}



{% block content %}
    <div class="artikel_3">

        {% if entry.artikel %}
            <div class="headline">{{ entry.title }}</div> 
        {% endif %}

        {% for block in entry.artikel.all() %}
            {% switch block.type %}

                {% case "text" %}
                    {% switch block.textformat %}
                        {% case "teaser" %}
                            <div class="teaser">{{ block.text }}</div>
                        {% case "caption" %}
                            <div class="caption">{{ block.text }}</div>
                        {% default %}
                            <div class="abody">{{ block.text }}</div>
                    {% endswitch %}

            	{% case "images" %}
                    <div class="images_3">
                        {% for image in block.image.all() %}
                            {% switch block.size %}
                                {% case "smallThumb" %}
                                    <div class="{{ block.quantity }}">
                                        <a href="{{ image.getUrl() }}" target="_blank">
                                            <img src="{{ image.getUrl('smallThumb') }}" alt="{{ image }}">
                                        </a>
                                    </div>
                                {% case "mediumThumb" %}
                                    <div class="{{ block.quantity }}">
                                        <a href="{{ image.getUrl() }}" target="_blank">
                                            <img src="{{ image.getUrl('mediumThumb') }}" alt="{{ image }}">
                                        </a>
                                    </div>
                                {% case "largeThumb" %}
                                    <div class="{{ block.quantity }}">
                                        <a href="{{ image.getUrl() }}" target="_blank">
                                            <img src="{{ image.getUrl('largeThumb') }}" alt="{{ image }}">
                                        </a>
                                    </div>
                            {% endswitch %}                                
                        {% endfor %}
                    </div>

                {% case "pdf" %}
                    <div class="pdf">
                        {% for pdf in block.pdf.all() %}
                            <a class="button" href="{{ pdf.getUrl }}" download>
                                Download &nbsp; {{ block.text  }}
                            </a>    
                        {% endfor %}
                    </div>

                {% case "embedded" %}
                    <div class="embedded">
                        {% switch block.textformat %}

                            {% case "teaser" %}
                                <div class="teaser">{{ block.text }}</div>

                            {% case "caption" %}
                                <div class="caption">{{ block.text }}</div>

                            {% default %}
                                <div class="abody">{{ block.text }}</div>

                        {% endswitch %}
                        {% switch block.source %}
                            {% case "youtube" %}
                                <div class="youtube">
                                    {% for asset in block.embeddedLink.all() %}
                                    {% set embeddedAsset = craft.embeddedAssets.get(asset) %}
                                        <div class="video">
                                            {{ embeddedAsset ? embeddedAsset.html }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% case "soundcloud" %}
                                <div class="soundcloud">
                                    {% for asset in block.embeddedLink.all() %}
                                    {% set embeddedAsset = craft.embeddedAssets.get(asset) %}
                                        <div class="sound">
                                            {{ embeddedAsset ? embeddedAsset.html }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% default %}
                                {% for asset in block.embeddedLink.all() %}
                                {% set embeddedAsset = craft.embeddedAssets.get(asset) %}
                                    <div class="">
                                        {{ embeddedAsset ? embeddedAsset.html }}
                                    </div>
                                {% endfor %}
                        {% endswitch %}
                    </div>
            {% endswitch %}
        {% endfor %}
    </div>
{% endblock  %}


