{% extends "_layout" %}

{% set start, aktuelles, projekte, opensource, mods = '','','','','' %}

{% block content %}
    <div class="artikel_2">
        <div class="headline">
            {{ entry.title }}
        </div>
        {% for block in entry.links.all() %}
                {% switch block.type %}
                    {% case "text" %}
                        {% switch block.textformat %}
                            {% case "teaser" %}
                                <div class="teaser">{{ block.text }}</div>
                            {% case "caption" %}
                                <div class="">{{ block.text }}</div>
                            {% default %}
                                <div class="abody">{{ block.text }}</div>
                        {% endswitch %}
                {% endswitch %}
        {% endfor %}
        <div class="link-div">
            {% for block in entry.links.all() %}
                {% switch block.type %}
                    {% case "linkImage" %}
                        <div>
                            {% for image in block.linkImage.all() %}
                                <div>
                                    <a href="{{ block.linkUrl }}" target="_blank">
                                        <img class="link-img" src="{{ image.getUrl('link') }}">
                                    </a>
                                </div>                               
                            {% endfor %}
                        </div>
                {% endswitch %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
