{% extends "_layout" %}

{% set page_title = 'Open Source' %}
{% set opensource = 'current' %}
{% set start, aktuelles, projekte, mods = '','','','' %}


{% block opensource %}

{% for entry in craft.entries.section('opensource').all() %}
<div class="artikel_1">
{% for block in entry.artikel.all() %}

{% switch block.type %}

	{% case "artikelPreview" %}

	{% for image in block.artikelThumbnail.all() %}
		<figure class="artikelThumbnail">
			<img src="{{ image.getUrl('mediumThumb') }}">
		</figure>
	{% endfor %}

	<a href="{{ entry.url }}">
		<h1>{{ block.previewtitel }}</h1>
	</a>
	<h3>{{ block.previewteaser }}</h3>
	<p>{{ block.previewbody|chop(limit=1, unit='p') }}

{% endswitch %}	

{% endfor %}
<a class="button" href="{{ entry.url }}">weiterlesen</a>
</div>
{% endfor %}
{% endblock opensource %}
