{% extends "_layout" %}

{% set page_title = 'Open Source' %}
{% set opensource = 'current' %}
{% set start, aktuelles, projekte, mods = '','','','' %}


{% block opensource %}

{% for entry in craft.entries.section('opensource').limit(10).all() %}

<div class="artikel_1">
    <a href="{{ entry.url }}">
        <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    <h4>
        {{ entry.artikelBody|chop(limit=1, unit='p') }}
        <a href="{{ entry.url }}">Weiterlesen...</a>
    </h4>

{% endfor %}
<br>
{% endblock opensource %}
