{% extends "_layout" %}
{% block projekte %}
    
{% for entry in craft.entries.section('projekte').limit(10).all() %}

<div class="artikel_1">
    <a href='projekteOverview'>
        <h3>{{ entry.section }}</h3>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    {{ entry.artikelBody }}
    <p class="post-meta">Posted by
        <a href="#">{{ entry.author }}</a>
            on {{ entry.postDate | date('d M, Y')}}
    </p>
</div>
<br>

{% endfor %}


{% endblock projekte %}

