{% extends "_layout" %}

{% set page_title = 'Projekte' %}
{% set projekte = 'current' %}
{% set start, aktuelles, opensource, mods = '','','','' %}


{% block projekte %}
    
{% for entry in craft.entries.section('projekte').all() %}
<div class="artikel_1">
{% for block in entry.artikel.all() %}

{% switch block.type %}

	{% case "artikelPreview" %}
	<a href="{{ entry.url }}">
		<h1>{{ block.previewtitel }}</h1>
	</a>
	<h3>{{ block.previewteaser }}</h3>
	<p>{{ block.previewbody|chop(limit=1, unit='p') }}


	{% for image in block.artikelThumbnail.all() %}
		<figure class="artikelThumbnail">
			<img src="{{ image.getUrl('smallThumb') }}">
		</figure>
	{% endfor %}

{% endswitch %}	

{% endfor %}
<a class="button" href="{{ entry.url }}">weiterlesen</a>
</div>
{% endfor %}

{% endblock projekte %}

