<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page_title is defined %} {{ page_title }} | {% endif %}Forschungsgruppe Perfect Beat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Icon -->

        <!--<link rel="shortcut icon" href="/favicon.ico">-->
        <link rel="icon" type="image/png" href="{{ siteUrl }}assets/imgs/FPB-Logo-Icon.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ siteUrl }}assets/imgs/FPB-Logo-Icon.png" sizes="96x96">
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->


<!-- Workaround mit siteUrl, geht das eleganter?!?! -->

        <link   rel="stylesheet"
                type="text/css"
                media="screen"
                href="{{ siteUrl }}assets/css/style.css"/>

        <script src="main.js"></script>
    </head>
    <body>

<!-- Allumfassender Container -->

        <div class="site">

<!-- Container f체r Kopfbereich mit Logo & Navigation -->

            <header>
                <div class="logo">
                    <a href={{ siteUrl }}>
                    <img src="{{ siteUrl }}assets/imgs/FPB%20Header.png" alt="Forschungsgruppe Perfect Beat">
                </div>
            </a>
                <div>
                    <ul class="nav">
                        <li><div class="{{ start }}"><a href="{{ siteUrl }}">Start</a></div></li>
                        <li><div class="{{ aktuelles }}"><a href="{{ siteUrl }}aktuellesOverview">Aktuelles</a></div></li>
                        <li><div class="{{ projekte }}"><a href="{{ siteUrl }}projekteOverview">Projekte</a></div></li>
                        <li><div class="{{ opensource }}"><a href="{{ siteUrl }}opensourceOverview">Open Source</a></div></li>
                        <li><div class="{{ mods }}"><a href="{{ siteUrl }}modsOverview">Mods</a></div></li>
                        <li><div id="wrapper">
                                <div class="square icon">
                                    <span class="line top"></span>
                                    <span class="line middle"></span>
                                    <span class="line bottom"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

<!-- Container f체r Content -->

            <div class="content">
                {% block aktuelles %}
                {% endblock aktuelles %}

                {% block projekte %}
                {% endblock projekte %}

                {% block calltoaction %}
                {% endblock calltoaction %}

                {% block opensource %}
                {% endblock opensource %}

                {% block mods %}
                {% endblock mods %}

                {% block kontakt %}
                {% endblock kontakt %}

                {% block impressum %}
                {% endblock impressum %}

                {% block datenschutz %}
                {% endblock datenschutz %}

                {% block links %}
                {% endblock links %}
            </div>



<!-- Container f체r Footer -->

            <footer>
                <div>
                    <ul class="foot_nav">
                        <li><div><a href="{{ siteUrl }}impressum">Impressum</a></div></li>
                        <li><div><a href="{{ siteUrl }}datenschutz">Datenschutzerkl채rung</a></div></li>
                        <li><div><a href="{{ siteUrl }}kontakt">Kontakt</a></div></li>
                        <li><div><a href="{{ siteUrl }}links">Links</a></div></li>
                        <div class="copy">&copy; HotDocs</div>
                    </ul>
                </div>
            </footer>
        </div>
    
    <script src="{{ siteUrl }}assets/js/jquery-3.3.1.js"></script>
    
    <script type="text/javascript">
        $("#wrapper").click(function(){
            $(".icon").toggleClass("close");
        });
    </script>        
    
    </body>
</html>
