<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page_title is defined %} {{ page_title }} | {% endif %}Forschungsgruppe Perfect Beat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Icon -->

        <!--<link rel="shortcut icon" href="/favicon.ico">-->
        <link rel="icon" type="image/png" href="{{ siteUrl }}assets/imgs/FPB-Logo-Icon.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ siteUrl }}assets/imgs/FPB-Logo-Icon.png" sizes="96x96">
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->


<!-- Workaround mit siteUrl, geht das eleganter?!?! -->

        <link   rel="stylesheet"
                type="text/css"
                media="screen"
                href="{{ siteUrl }}assets/css/style.css"/>

<!-- CSS Einbindung für fa fa -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- -->

        <script src="{{ siteUrl }}assets/js/jquery-3.3.1.js"></script>
    </head>
    <body>

<!-- Allumfassender Container -->

        <div class="site">

<!-- Container für Kopfbereich mit Logo & Navigation -->

            <header>
                <div>
                    <div onclick="window.location='{{ siteUrl }}';">
                        <img class="logo" src="{{ siteUrl }}assets/imgs/FPB%20Header.png" alt="Forschungsgruppe Perfect Beat">
                    </div>
                </div>
            </header>
            <div class="nav" id="mytopNav">
                        <a class="{{ start }}" href="{{ siteUrl }}">Start</a>
                        <a class="{{ aktuelles }}" href="{{ siteUrl }}aktuellesOverview">Aktuelles</a>
                        <a class="{{ projekte }}" href="{{ siteUrl }}projekteOverview">Projekte</a>
                        <a class="{{ opensource }}" href="{{ siteUrl }}opensourceOverview">Open Source</a>
                        <a class="{{ mods }}" href="{{ siteUrl }}modsOverview">Mods</a>
                        <a href="javascript:void(0);" class="icon" onclick="HH_topMenu()">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="logo_nav" id="scroll_nav"><img src="{{ siteUrl }}assets/imgs/FPB-Logo.png"></div>
            </div>

<!-- Scripte für responsive Nav, müssen noch in JS ausgelagert werden ;) -->

            <script>
                function HH_topMenu()
                {
                    var x = document.getElementById("mytopNav");
                    if (x.className === "nav")
                    {
                    x.className += " responsive";
                    }
                    else
                    {
                    x.className = "nav";
                    }
                }
            </script>
            <script>
                window.onscroll = function() {scrollNav()};

                function scrollNav()
                {
                    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50)
                    {
                        document.getElementById("scroll_nav", "mytopNav").className = "logo_nav", "nav";
                    }
                    else
                    {
                        document.getElementById("scroll_nav", "mytopNav").className = "logo_nav_hidden", "nav border_hidden";
                    }
                }
            </script>

<!-- Container für Content -->

            <div class="content">
                {% block aktuelles %}
                {% endblock aktuelles %}

                {% block projekte %}
                {% endblock projekte %}

                {% block calltoaction %}
                {% endblock calltoaction %}

                {% block opensource %}
                {% endblock opensource %}

                {% block mods %}
                {% endblock mods %}

                {% block kontakt %}
                {% endblock kontakt %}

                {% block impressum %}
                {% endblock impressum %}

                {% block datenschutz %}
                {% endblock datenschutz %}

                {% block links %}
                {% endblock links %}
            </div>



<!-- Container für Footer -->

            <footer>
                <div class="nav" id="mydownNav">
                        <a href="{{ siteUrl }}impressum">Impressum</a>
                        <a href="{{ siteUrl }}datenschutz">Datenschutzerklärung</a>
                        <a href="{{ siteUrl }}kontakt">Kontakt</a>
                        <a href="{{ siteUrl }}links">Links</a>
                        <a href="javascript:void(0);" class="icon" onclick="HH_downMenu()">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="copy">&copy; HotDocs</div>
                </div>
                <script>
                function HH_downMenu()
                {
                    var x = document.getElementById("mydownNav");
                    if (x.className === "nav")
                    {
                    x.className += " responsive";
                    }
                    else
                    {
                    x.className = "nav";
                    }
                }
            </script>
            </footer>
        </div>
    
    <script src="{{ siteUrl }}assets/js/jquery-3.3.1.js"></script>
    
    <script type="text/javascript">
        $("#wrapper").click(function(){
            $(".icon").toggleClass("close");
        });
    </script>        
    
    </body>
</html>
