<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FPB-Kiel - {{ craft.request.firstSegment|ucfirst }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Workaround mit siteUrl, geht das eleganter?!?! -->

        <link   rel="stylesheet"
                type="text/css"
                media="screen"
                href="{{ siteUrl }}assets/css/style.css"/>

        <script src="main.js"></script>
    </head>
    <body>

<!-- Allumfassender Container -->

        <div class="site">

<!-- Container für Kopfbereich mit Logo & Navigation -->

            <header>
                <div class="lhead">
                    <img class="logo" src="{{ siteUrl }}assets/imgs/FPB-Logo.png" alt="Forschungsgruppe Perfect Beat">
                    <div class="hhead">Forschungsgruppe Perfect Beat</div>
                </div>
                <div>
                    <ul class="nav">
                        <li><div><a href="{{ siteUrl }}">Start</a></div></li>
                        <li><div class="navlink"><a href="{{ siteUrl }}aktuellesOverview">Aktuelles</a></div></li>
                        <li><div class="navlink"><a href="{{ siteUrl }}projekteOverview">Projekte</a></div></li>
                        <li><div class="navlink"><a href="{{ siteUrl }}opensourceOverview">Open Source</a></div></li>
                        <li><div class="navlink"><a href="{{ siteUrl }}modsOverview">Mods</a></div></li>
                    </ul>
                </div>
            </header>

<!-- Container für Content -->

            <div class="content">
                {% block aktuelles %}
                {% endblock aktuelles %}

                {% block projekte %}
                {% endblock projekte %}

                {% block main %}
                {% endblock main %}
            </div>

<!-- Container für Footer -->

            <footer>
                <div>
                    <ul class="foot">
                        <li><div><a href="{{ siteUrl }}">Impressum</a></div></li>
                        <li><div class="navlink"><a href="#">Datenschutzvereinbarung</a></div></li>
                        <li><div class="navlink"><a href="#">Kontakt</a></div></li>
                        <li><div class="navlink"><a href="#">Links</a></div></li>
                        <div class="copy">&copy;HOTDOCS 2018</div>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>
