<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page_title is defined %} {{ page_title }} | {% endif %}Forschungsgruppe Perfect Beat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Fav-Icon -->
        <!--<link rel="shortcut icon" href="/favicon.ico">-->
        <link rel="icon" type="image/png" href="{{ siteUrl }}assets/imgs/FPB-Logo-Icon.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ siteUrl }}assets/imgs/FPB-Logo-Icon.png" sizes="96x96">
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->


        <!-- CSS -->
        <link   rel="stylesheet"
                type="text/css"
                media="screen"
                href="{{ siteUrl }}assets/css/style.css"/>

        <link   rel="stylesheet" 
                href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>
        <!-- Body Background -->
        <div class="body-bg"></div>
        <!-- Allumfassender Container -->
        <div class="site">
            <!-- Container für Kopfbereich mit Logo & Navigation -->
            <div></div>
            <header class="head" id="Head">
                <a href="{{ siteUrl }}">
                    <img class="logo" id="logo" src="{{ siteUrl }}assets/imgs/FPB-Logo.png" alt="Forschungsgruppe Perfect Beat">
                </a>
                <div class="hl_nav" id="hlnav">    
                    <div class="headerline" id="headerline">Forschungsgruppe Perfect Beat</div>
                    <div class="nav" id="HHheadNav">
                        <a class="{{ start }}" href="{{ siteUrl }}">Start</a>
                        <a class="{{ aktuelles }}" href="{{ siteUrl }}aktuellesOverview">Aktuelles</a>
                        <a class="{{ projekte }}" href="{{ siteUrl }}projekteOverview">Projekte</a>
                        <a class="{{ opensource }}" href="{{ siteUrl }}opensourceOverview">Open Source</a>
                        <a class="{{ mods }}" href="{{ siteUrl }}modsOverview">Mods</a>
                        <button class="dropbtn">
                                Menu
                        </button>
                        <!-- Content für responsive Dropdown Navigation -->
                        <div class="dropdown-nav">
                            <a class="{{ start }}" href="{{ siteUrl }}">Start</a>
                            <a class="{{ aktuelles }}" href="{{ siteUrl }}aktuellesOverview">Aktuelles</a>
                            <a class="{{ projekte }}" href="{{ siteUrl }}projekteOverview">Projekte</a>
                            <a class="{{ opensource }}" href="{{ siteUrl }}opensourceOverview">Open Source</a>
                            <a class="{{ mods }}" href="{{ siteUrl }}modsOverview">Mods</a>
                        </div>
                    </div>
                </div>
            </header>
            
            <!-- Container für Content -->
            <div class="content">

                {% block content %}
                {% endblock %}
                
                {% block aktuelles %}
                {% endblock aktuelles %}

                {% block projekte %}
                {% endblock projekte %}

                {% block calltoaction %}
                {% endblock calltoaction %}

                {% block opensource %}
                {% endblock opensource %}

                {% block mods %}
                {% endblock mods %}

                {% block kontakt %}
                {% endblock kontakt %}

                {% block impressum %}
                {% endblock impressum %}

                {% block datenschutz %}
                {% endblock datenschutz %}

                {% block links %}
                {% endblock links %}
            </div>

            <!-- Container für Footer -->
            <footer class="foot">
                <div class="foot_nav">
                    <a href="{{ siteUrl }}impressum">Impressum</a>
                    <a href="{{ siteUrl }}datenschutz">Datenschutzerklärung</a>
                    <a href="{{ siteUrl }}kontakt">Kontakt</a>
                    <a href="{{ siteUrl }}links">Links</a>
                    <div class="copy">&copy;HotDocs</div>
                    <button class="dropbtn2">
                        Info
                    </button>
                    <!-- Content für responsiven DropUp Foot -->
                    <div class="dropup-foot">
                        <a href="{{ siteUrl }}impressum">Impressum</a>
                        <a href="{{ siteUrl }}datenschutz">Datenschutzerklärung</a>
                        <a href="{{ siteUrl }}kontakt">Kontakt</a>
                        <a href="{{ siteUrl }}links">Links</a>
                    </div>
                </div>
            </footer>
        </div>

    <!-- Java Einbindungen -->
    <script src="{{ siteUrl }}assets/js/jquery-3.3.1.js"></script>
    <script src="{{ siteUrl }}assets/js/scroll_Head.js"></script>

    </body>
</html>