<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page_title is defined %} {{ page_title }} | {% endif %}Forschungsgruppe Perfect Beat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Icon -->
        <!--<link rel="shortcut icon" href="/favicon.ico">-->
        <link rel="icon" type="image/png" href="{{ siteUrl }}assets/imgs/FPB-Logo-Icon.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ siteUrl }}assets/imgs/FPB-Logo-Icon.png" sizes="96x96">
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->


<!-- CSS -->
        <link   rel="stylesheet"
                type="text/css"
                media="screen"
                href="{{ siteUrl }}assets/css/style.css"/>

<!-- CSS Einbindung für fa fa -->
        <link   rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link   rel="stylesheet" 
                href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>

<!-- Parallax -->
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ siteUrl }}assets/imgs/bg_platine_hoch.jpg">

<!-- Allumfassender Container -->
        <div class="site">

<!-- Container für Kopfbereich mit Logo & Navigation -->
            <header id="Head">
                <div>
                    <div onclick="window.location='{{ siteUrl }}';">
                        <img class="logo" src="{{ siteUrl }}assets/imgs/FPB_Header.png" alt="Forschungsgruppe Perfect Beat">
                    </div>
                </div>
            </header>
            <div class="nav" id="HHheadNav">
                <a href="javascript:void(0);" class="icon" onclick="HHheadMenu()">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="{{ start }}" href="{{ siteUrl }}">Start</a>
                <a class="{{ aktuelles }}" href="{{ siteUrl }}aktuellesOverview">Aktuelles</a>
                <a class="{{ projekte }}" href="{{ siteUrl }}projekteOverview">Projekte</a>
                <a class="{{ opensource }}" href="{{ siteUrl }}opensourceOverview">Open Source</a>
                <a class="{{ mods }}" href="{{ siteUrl }}modsOverview">Mods</a>
                <div class="nav_logo_hidden" id="scroll_nav" onclick="window.location='{{ siteUrl }}';"><img src="{{ siteUrl }}assets/imgs/FPB_Header_scroll.png"></div>
            </div>

<!-- Container für Content -->
            <div class="content">
                {% block aktuelles %}
                {% endblock aktuelles %}

                {% block projekte %}
                {% endblock projekte %}

                {% block calltoaction %}
                {% endblock calltoaction %}

                {% block opensource %}
                {% endblock opensource %}

                {% block mods %}
                {% endblock mods %}

                {% block kontakt %}
                {% endblock kontakt %}

                {% block impressum %}
                {% endblock impressum %}

                {% block datenschutz %}
                {% endblock datenschutz %}

                {% block links %}
                {% endblock links %}
            </div>

<!-- Container für Footer -->
            <footer>
                <div class="nav" id="HHfootNav">
                    <a href="javascript:void(0);" class="icon" onclick="HHfootMenu()">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a href="{{ siteUrl }}impressum">Impressum</a>
                    <a href="{{ siteUrl }}datenschutz">Datenschutzerklärung</a>
                    <a href="{{ siteUrl }}kontakt">Kontakt</a>
                    <a href="{{ siteUrl }}links">Links</a>
                    <div class="copy">&copy; HotDocs</div>
                </div>
            </footer>
        </div>
    </div>

<!-- Java Einbindungen -->
    <script src="{{ siteUrl }}assets/js/jquery-3.3.1.js"></script>
    <script src="{{ siteUrl }}assets/js/parallax.js"></script>
    <script src="{{ siteUrl }}assets/js/scroll_nav.js"></script>
    <script src="{{ siteUrl }}assets/js/HHheadMenu.js"></script>
    <script src="{{ siteUrl }}assets/js/HHfootMenu.js"></script>

    </body>
</html>