{% extends "_layout" %}

{% block aktuelles %}
    
{% for entry in craft.entries.section('aktuelles').limit(1).all() %}

<div class="artikel_1">
    <a href='aktuellesOverview'>
    <h3>{{ entry.section }}</h3>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    {{ entry.artikelBody }}
</div>
<br>

{% endfor %}

{% endblock aktuelles %}


{% block projekte %}
    
{% for entry in craft.entries.section('projekte').limit(1).all() %}

<div class="artikel_1">
    <a href='projekteOverview'>
        <h3>{{ entry.section }}</h3>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    {{ entry.artikelBody }}
</div>
<br>

{% endfor %}

{% endblock projekte %}

  
{% block opensource %}
    
{% for entry in craft.entries.section('opensource').limit(1).all() %}

<div class="artikel_1">
    <a href='opensourceOverview'>
        <h2>{{ entry.section }}</h2>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    {{ entry.artikelBody }}
</div>
<br>

{% endfor %}

{% endblock opensource %}


{% block mods %}

{% for entry in craft.entries.section('mods').limit(1).all() %}

<div class="artikel_1">
    <a href='modsOverview'>
        <h2>{{ entry.section }}</h2>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    {{ entry.artikelBody }}
</div>
<br>

{% endfor %}

{% endblock mods %}
