{% extends "_layout" %}

{% set start = 'current' %}
{% set aktuelles, projekte, opensource, mods = '','','','' %}

{% block aktuelles %}
    
{% for entry in craft.entries.section('aktuelles').limit(1).all() %}

<div class="artikel_1">
    <a href='aktuellesOverview'>
    <h2>{{ entry.section }}</h2>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    <h4>
       {% for image in entry.artikelImage %}
            <img src="{{ image.geturl }}" width="{{ image.getWidth('mediumThumb') }}" height="{{ image.getHeight('mediumThumb') }}">
        {% endfor %}
        {{ entry.artikelBody }}
        <a href="{{ entry.url }}">Weiterlesen...</a>
    </h4>
</div>

{% endfor %}

{% endblock aktuelles %}


{% block projekte %}
    
{% for entry in craft.entries.section('projekte').limit(1).all() %}

<div class="artikel_1">
    <a href='projekteOverview'>
        <h2>{{ entry.section }}</h2>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    <h4>
        {{ entry.artikelBody }}
        <a href="{{ entry.url }}">Weiterlesen...</a>
    </h4>
</div>

{% endfor %}

{% endblock projekte %}

{% block calltoaction %}

                <div class="cta0">
                    <div class="cta">
                        <a href="{{ siteUrl }}projekteOverview">
                            <img src="{{ siteUrl }}assets/imgs/pearl-syncussion-sy1-1529186.jpg">
                            <div class="cta_t">Projekte</div>
                        </a>
                    </div>
                    <div class="cta">
                        <a href="{{ siteUrl }}opensourceOverview">
                            <img src="{{ siteUrl }}assets/imgs/desktop-source-code-and-wallpaper-by-computer-language-with-coding-and-programming_33771-596.jpg">
                            <div class="cta_t">Open Source</div>
                        </a>
                    </div>
                    <div class="cta">
                        <a href="{{ siteUrl }}modsOverview">
                            <img src="{{ siteUrl }}assets/imgs/soldering.jpg">
                            <div class="cta_t">Mods</div>
                        </a>
                    </div>
                </div>

{% endblock calltoaction %}
  
{% block opensource %}
    
{% for entry in craft.entries.section('opensource').limit(1).all() %}

<div class="artikel_1">
    <a href='opensourceOverview'>
        <h2>{{ entry.section }}</h2>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    <h4>
        {{ entry.artikelBody }}
        <a href="{{ entry.url }}">Weiterlesen...</a>
    </h4>
</div>

{% endfor %}

{% endblock opensource %}


{% block mods %}

{% for entry in craft.entries.section('mods').limit(1).all() %}

<div class="artikel_1">
    <a href='modsOverview'>
        <h2>{{ entry.section }}</h2>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    <h4>
        {{ entry.artikelBody }}
        <a href="{{ entry.url }}">Weiterlesen...</a>
    </h4>
</div>

{% endfor %}
{% endblock mods %}
