{% extends "_layout" %}

{% set start = 'current' %}
{% set aktuelles, projekte, opensource, mods = '','','','' %}

{% block aktuelles %}
    {% for entry in craft.entries.section('aktuelles').limit(1).all() %}
        <div class="artikel_1">
            {% for block in entry.artikel.all() %}
                {% switch block.type %}
                    {% case "artikelPreview" %}
	                    {% for image in block.artikelThumbnail.all() %}
		                    <figure class="artikelThumbnail">
			                    <img src="{{ image.getUrl('smallThumb') }}" alt="{{ image.getUrl('smallThumb') }}">
		                    </figure>
	                    {% endfor %}
	                    <div>
                            <div class="section">
                                <a href='aktuellesOverview'>{{ entry.section }}</a>
                            </div>
                            <div class="headline">
                                <a href="{{ entry.url }}">{{ entry.title }}</a>
                            </div>
			                <div class="teaser">{{ block.previewteaser }}</div>
			                <div class="abody">
                                {{ block.previewbody|chop(limit=1, unit='p') }}
                            </div>
                            <div class="button">
                                <a href="{{ entry.url }}">weiterlesen</a>
                            </div>
	                    </div>
                {% endswitch %}	
            {% endfor %}
        </div>
    {% endfor %}
{% endblock aktuelles %}

{% block projekte %}
    {% for entry in craft.entries.section('projekte').limit(1).all() %}
        <div class="artikel_1">
            {% for block in entry.artikel.all() %}
                {% switch block.type %}
                    {% case "artikelPreview" %}
	                    {% for image in block.artikelThumbnail.all() %}
		                    <figure class="artikelThumbnail">
			                    <img src="{{ image.getUrl('smallThumb') }}">
		                    </figure>
	                    {% endfor %}	
		                <div>
                            <div class="section"> 
                                <a href='projekteOverview'>{{ entry.section }}</a>
                            </div>
                            <div class="headline">
                                <a href="{{ entry.url }}">{{ entry.title }}</a>
                            </div>
			                <div class="teaser">{{ block.previewteaser }}</div>
                            <div class="abody">
                                {{ block.previewbody|chop(limit=1, unit='p') }}
                            </div>
                            <div class="button">
                                <a href="{{ entry.url }}">weiterlesen</a>
                            </div>
	                    </div>
                {% endswitch %}	
            {% endfor %}  
        </div>
    {% endfor %}
{% endblock projekte %}

{% block calltoaction %}
                <div class="cta0">
                    <div class="cta">
                        <a href="{{ siteUrl }}projekteOverview">
                            <img src="{{ siteUrl }}assets/imgs/pearl-syncussion-sy1-1529186.jpg">
                            <div class="cta_t">Projekte</div>
                        </a>
                    </div>
                    <div class="cta">
                        <a href="{{ siteUrl }}opensourceOverview">
                            <img src="{{ siteUrl }}assets/imgs/desktop-source-code-and-wallpaper-by-computer-language-with-coding-and-programming_33771-596.jpg">
                            <div class="cta_t">Open Source</div>
                        </a>
                    </div>
                    <div class="cta">
                        <a href="{{ siteUrl }}modsOverview">
                            <img src="{{ siteUrl }}assets/imgs/soldering.jpg">
                            <div class="cta_t">Mods</div>
                        </a>
                    </div>
                </div>
{% endblock calltoaction %}

{% block opensource %}
    {% for entry in craft.entries.section('opensource').limit(1).all() %}
        <div class="artikel_1">
            {% for block in entry.artikel.all() %}
                {% switch block.type %}
                    {% case "artikelPreview" %}
		                {% for image in block.artikelThumbnail.all() %}
		                    <figure class="artikelThumbnail">
			                    <img src="{{ image.getUrl('smallThumb') }}">
		                    </figure>
	                    {% endfor %}
	                    <div>
                            <div class="section">    
                                <a href='opensourceOverview'>{{ entry.section }}</a>
                            </div>
                            <div class="headline">
                                <a href="{{ entry.url }}">{{ entry.title }}</a>
                            </div>
			                <div class="teaser">{{ block.previewteaser }}</div>
			                <div class="abody">
                                {{ block.previewbody|chop(limit=1, unit='p') }}
                            </div>
                            <div class="button">
                                <a href="{{ entry.url }}">weiterlesen</a>
                            </div>
	                    </div>
                {% endswitch %}	
            {% endfor %}
        </div>
    {% endfor %}
{% endblock opensource %}

{% block mods %}
    {% for entry in craft.entries.section('mods').limit(1).all() %}
        <div class="artikel_1">
            {% for block in entry.artikel.all() %}
                {% switch block.type %}
                    {% case "artikelPreview" %}
                        {% for image in block.artikelThumbnail.all() %}
	                        <figure class="artikelThumbnail">
		                        <img src="{{ image.getUrl('smallThumb') }}">
	                        </figure>
    	                {% endfor %}
	                    <div>
                            <div class="section">    
                                <a href='modsOverview'>{{ entry.section }}</a>
                            </div>
                            <div class="headline">
			                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                            </div>
			                <div class="teaser">{{ block.previewteaser }}</div>
                            <div class="abody">
                                {{ block.previewbody|chop(limit=1, unit='p') }}
                            </div>
                            <div class="button">
                                <a href="{{ entry.url }}">weiterlesen</a>
                            </div>
	                    </div>
                {% endswitch %}	
            {% endfor %}
        </div>
    {% endfor %}
{% endblock mods %}