{% extends "_layout" %}

{% set page_title = 'Mods' %}
{% set mods = 'current' %}
{% set start, aktuelles, projekte, opensource = '','','','' %}


{% block mods %}

{% for entry in craft.entries.section('mods').all() %}
<div class="artikel_1">
{% for block in entry.artikel.all() %}

{% switch block.type %}

	{% case "artikelPreview" %}
	<a href="{{ entry.url }}">
		<h1>{{ block.previewtitel }}</h1>
	</a>
	<h3>{{ block.previewteaser }}</h3>
	<p>{{ block.previewbody|chop(limit=1, unit='p') }}

	{% case "bilder" %}
	{% for image in block.artikelThumbnail.all() %}
		<figure class="artikelThumbnail">
			<img src="{{ image.getUrl('mediumThumb') }}">
		</figure>
	{% endfor %}

{% endswitch %}	

{% endfor %}
<a class="button" href="{{ entry.url }}">weiterlesen</a>
</div>
{% endfor %}




{% endblock mods %}
