{% extends "_layout" %}

{% set start, aktuelles, projekte, opensource, mods = '','','','','' %}

{% block content %}
    <div class="artikel_2">
        {% for block in entry.standartseite.all() %}
	        {% switch block.type %}

                {% case "text" %}

                    {% switch block.textformat %}

                        {% case "teaser" %}
                            <div class="teaser">{{ block.text }}</div>

                        {% case "caption" %}
                            <div class="">{{ block.text }}</div>

                        {% default %}
                            <div class="abody">{{ block.text }}</div>

                {% case "images" %}
                        <div class="">
                            {% for image in block.image.all() %}
                                {% switch block.size %}

                                    {% case "smallThumb" %}
                                        div class="">
                                            <img src="{{ image.getUrl('smallThumb') }}">
                                        </div>
                                    {% case "mediumThumb" %}
                                        <div class="">
                                            <img src="{{ image.getUrl('mediumThumb') }}">
                                        </div>
                                    {% case "largeThumb" %}
                                        <div class="">
                                            <img src="{{ image.getUrl('largeThumb') }}">
                                        </div>
                                {% endswitch %}                                
                            {% endfor %}
                        </div>
	    {% endswitch %}
    {% endfor %}
</div>


{% endblock %}
