{% extends "_layout" %}
{# Page-Title für Browser-Tab setzen #}
{% set page_title = entry.title %}
{# Variablen für die CSS-Klasse current setzen, um besuchte Seite in der Navigation hervorzuheben #} 
{% set start, aktuelles, projekte, opensource, mods, Impressum, Datenschutz, Kontakt, Links, about = '','','','','','','','','','' %}
{# Variable segment für nachfolgenden switch-case setzen #}
{% set segment = craft.app.request.getSegment(1) %}
{# Switch-Case-Abfrage, um besuchte Seite in der Navigation hervorzuheben #}
    {% switch segment %}
        {% case "impressum" %} 
            {% set Impressum = 'current' %}
        {% case "datenschutz" %}
            {% set Datenschutz = 'current' %}
        {% case "about" %}
            {% set about = 'current' %}
    {% endswitch %}
{# Inhaltsblock für Artikel #}
{% block content %}
    <div class="artikel_2">
        <div class="headline">
            {{ entry.title }}
        </div>
        {# for-loop für jeden Block im Eintragsfeld #}
        {% for block in entry.standartseite.all() %}
	        {# Eintrags-Blöcke durchlaufen #}
            {% switch block.type %}
                {% case "text" %}
                {# Textformatierungen abfragen und ausgeben #}
                    {% switch block.textformat %}
                        {% case "teaser" %}
                            <div class="teaser">{{ block.text }}</div>
                        {% case "caption" %}
                            <div class="">{{ block.text }}</div>
                        {% default %}
                            <div class="abody">{{ block.text }}</div>
	                {% endswitch %}
                {# Bildgröße abfragen und ausgeben #}
                {% case "images" %}
                    <div class="standard_div">
                        {% for image in block.image.all() %}
                            {% switch block.size %}
                                {% case "smallThumb" %}
                                    <div class="standard_s">
                                        <img src="{{ image.getUrl('smallThumb') }}" alt="{{ image }}">
                                    </div>
                                {% case "mediumThumb" %}
                                    <div class="standard_m">
                                        <img src="{{ image.getUrl('mediumThumb') }}" alt="{{ image }}">
                                    </div>
                                {% case "largeThumb" %}
                                    <div class="standard_l">
                                        <img src="{{ image.getUrl('largeThumb') }}" alt="{{ image }}">
                                </div>
                            {% endswitch %}                                
                        {% endfor %}
                    </div>
	        {% endswitch %}
        {% endfor %}
    </div>
{% endblock %}
