{% extends "_layout" %}

{% set projekte = 'current' %}
{% set start, aktuelles, opensource, mods = '','','','' %}

{% block projekte %}
    


<div class="artikel_3">
    <a href="{{ siteUrl }}projekteOverview">
        <h3>{{ entry.section }}</h3>
    </a>
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    {{ entry.artikelBody }}
</div>


{% endblock projekte %}
