{% extends "_layout" %}

{% set aktuelles, projekte, opensource, mods, Impressum, Datenschutz, Kontakt, Links, About = '','','','','','','','','' %}
{% set Kontakt = 'current' %}
{% set page_title = entry.title %}

{% block content %}
    <div class="artikel_2">
        <div class="headline">
            {{ entry.title }}
        </div>
        {% for block in entry.standartseite.all() %}
            {% switch block.type %}
                {% case "text" %}
                    {% switch block.textformat %}
                        {% case "teaser" %}
                            <div class="teaser">{{ block.text }}</div>
                        {% case "caption" %}
                            <div class="">{{ block.text }}</div>
                        {% default %}
                            <div class="abody">{{ block.text }}</div>
                    {% endswitch %}
            {% endswitch %}
        {% endfor %}
        <div class="kontakt">
            {% for block in entry.standartseite.all() %}
                {% switch block.type %}
	                {% case "images" %}
                        <div class="kontakt-img">
                            {% for image in block.image.all() %}
                                {% switch block.size %}
                                    {% case "smallThumb" %}
                                        div class="">
                                            <img src="{{ image.getUrl('smallThumb') }}" alt="{{ image }}">
                                        </div>
                                    {% case "mediumThumb" %}
                                        <div class="">
                                            <img src="{{ image.getUrl('mediumThumb') }}" alt="{{ image }}">
                                        </div>
                                    {% case "largeThumb" %}
                                        <div class="">
                                            <img src="{{ image.getUrl('largeThumb') }}" alt="{{ image }}">
                                        </div>
                                {% endswitch %}                                
                            {% endfor %}
                        </div>
	            {% endswitch %}
            {% endfor %}
            <div class="maps">
                <!-- Einbindung von Open-Street-Maps -->
                <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=10.13320326805115%2C54.32438279511453%2C10.151120424270632%2C54.32976972764168&amp;layer=mapnik&amp;marker=54.327073221270766%2C10.142161846160889"></iframe>
            </div>
        </div>
    </div>
{% endblock %}