{% extends "_layout" %}
{% block mods %}



<div class="artikel_1">

    <a href="{{ entry.url }}">
        <h1>{{ entry.title }}</h1>
    </a>

    <h3>{{ entry.artikelTeaser }}</h3>

    {{ entry.artikelBody }}


    {# Create an asset query with the 'volume' and 'kind' parameters #}
{% set myAssetQuery = craft.assets()
    .volume('modsAssets')
    .kind('image') %}

{# Fetch the assets #}
{% set images = myAssetQuery.all() %}

{# Display the thumbnail list #}
<ul>
    {% for image in images %}
        <li><img src="{{ image.getUrl('smallThumb') }}" alt="{{ image.title }}"></li>
    {% endfor %}
</ul>


</div>

{% endblock mods %}
