{% extends "_layout" %}

{% set mods = 'current' %}
{% set start, projekte, aktuelles, opensource = '','','','' %}

{% block mods %}



<div class="artikel_3">

    <a href="{{ entry.url }}">
        <h1>{{ entry.title }}</h1>
    </a>

    <h3>{{ entry.artikelTeaser }}</h3>

    {{ entry.artikelBody }}


    {% for asset in entry.artikelAssets %}
        <img src="{{ asset.url }}" alt="{{ asset.title }}">
    {% endfor %}



{#     {# Create an asset query with the 'volume' and 'kind' parameters 
{% set myAssetQuery = craft.assets()
    .volume('Assets')
    .kind('asset') %}

{# Fetch the assets 
{% set images = myAssetQuery.all() %}

{# Display the thumbnail list 
<ul>
    {% for asset in images %}
        <li><img src="{{ image.geturl('smallThumb') }}" alt="{{ image.title }}"></li>
    {% endfor %}
</ul>
 #}

</div>
<br>
{% endblock mods %}
